<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="cat cats pet">
    <meta name="description" content="Cat Adoption website">
    <meta name="author" content="Ola Altiti">
    <meta http-equiv="refresh" content="30">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="Css/style.css" />
    <title>Document</title>
</head>

<body>
    <main>

        <body>
            <header>
                <div id='div1'>
                    <h1 id='title'> Cat Adoption </h1>
                    <p id='p1'><b>Help cats to get a safe place</b></p>
                </div>
                <hr>
                <nav>
                    <a href="/"><b>Home </b></a>
                    <a href="/cat"><b>Adopt cat</b></a>

                </nav>
            </header>
            <section>

                <article>
                    <p id='pAbout'>This simple website provides a list of cats to be available for volunteers which I
                        hope will encourage people to help cats to get a safe and comfortable home.</p>
                    <div class="divabout">
                        <img id='aboutImg' src="img/141-1416155_candies-cat-adoption-logo-design-craft-union.png" alt=""
                            srcset="">

                    </div>
                </article>
            </section>
            <footer>
                <p id='aboutP'>Ola Altiti-2021<br><a id=aboutA href="https://github.com/ola-titi">https://github.com/ola-titi</a></p>
            </footer>

    </main>

    <script src="/index.js"></script></body>

</html>